SECRET_KEY_BASE=YOUR_KEY
ENCRYPTION_KEY=YOUR_32_BYTES_BASE64_KEY
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=dashboard_prod
GITHUB_CLIENT_ID=ypur_client_id
GITHUB_CLIENT_SECRET=your_client_key
FOOT_API=your_key_from_api-football
TENNIS_API=your_key_from_sportradar
BASKET_API=your_key_from_api-basketball
BASKET_NEWS_API=your_key_from_gnews
